<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl" >
<head>
  <title>Hoofdpagina - Eline.vg</title>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
  <meta name="keywords" content="Hoofdpagina,Aankondiging,Brief van oma mimi,Foto's,Haar naam,Smsjes" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch_desc.php" title="Eline.vg (Nederlands)" />

  <link rel='stylesheet' type='text/css' href="css/eline.css" />
</head>

<body>

  {{ content }}

  <div class="footer">
    [ <a href="./" title="Eline">het begin</a> ]
    [ <a href="naam.html" title="Haar naam">haar naam</a> ]
    [ <a href="fotos.html" title="Foto's">foto's</a> ]
    [ <a href="sms.html" title="Smsjes">smsjes</a> ]
    [ <a href="brief.html" title="Brief van oma mimi">brief van oma mimi</a> ]
    [ <a href="aankondiging.html" title="Aankondiging">aankondiging</a> ]
    [ <a href="http://groups.google.com/group/eline_vg" class="external text" title="http://groups.google.com/group/eline_vg" rel="nofollow">gastenboek</a> ]
  </div>

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-393672-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
  </center>
</body>
</html>
